@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/museo');
$heading-primary: 'Museo', sans-serif;
$heading-secondary: 'Quicksand', sans-serif;