@use '_headings.scss';
@use '_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: c.$backgroundcolor-primary;
}

button {
    color: c.$fontcolor-secondary;
    background-color: c.$primary-color;
    font-family: f.$heading-secondary;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    &:hover{
        background-color: c.$secondary-color;
    }
}

//*******MOBILE*******
button {
    font-size: 15px;
}

// Navbar
nav {
    background-color: c.$primary-color;
    font-family: f.$heading-secondary;
    display: flex;
    justify-content: space-between;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style-type: none;
    }

    #menu-logo {
        padding: 15px;

        img {
            display: block;
            height: 35px;
        }
    }


    #menu-items-desktop {
        display: none;
    }

    #menu-items-mobile {
        display: flex;
        align-items: center;

        #menu-icons {
        display: flex;
        align-items: center;
        padding-right: 15px;

        li {
            padding: 15px;
        }

        #burgermenu {
            padding: 0;
        }

        #burgermenu:hover {
            background-color: c.$primary-color;
        }
        }
    }

    #katalog-dropdown {
        position: absolute;
        z-index: 50;
        background-color: #fff;
        color: c.$fontcolor-primary;
        top: 100%;
        width: 100%;
        max-height: 100vh;
        overflow: auto;
        box-shadow: 3px 5px 10px 2px rgba($color: #000000, $alpha: 0.3);
        padding: 10px;

        .dropdown-kategori {
            padding: 20px;

            .kategori-navn {
                font-weight: 700;
                font-size: 18px;
                padding: 5px;
                margin-bottom: 10px;
            }

            .kategori-link {
                padding: 7px;
                padding-left: 20px;
            }
        }
        .divider-line {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

//Hero
.hero {
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center ;
    
    .hero-text {
        color: c.$fontcolor-secondary;
    }
}

.about-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/butik/dinavejling-butik-udenfor2.webp");
}

.kunstner-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/kunstnere.webp")
}

.krusogkopper-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/krusogkopper.webp")
}

.arrangementer-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/Rikke_Lunnemann_CPH_sejren.webp")
}

//herovideo
.herovideo{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center ;
    .hero-logo {
        position: absolute;

        img {
            height: 60px;
        }
    }
    video{
        width: 100%;
        height: auto;
        display: block;
    }
    .controls{
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 11;
        button{ 
            background: none;
            padding: 15px 15px;
            border: 2px solid #fff;
            border-radius: 40px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

// side intro
.landingpagesection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

// her kommer åbningstider
.aabningstidersection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    h4{
        padding: 5px 0px;
    }
    .kontaktoplysninger{
        margin: 20px 0px;
        a{
            text-decoration: none;
            color: c.$fontcolor-primary;
            font-weight: bold;
             &:hover{
                text-decoration: underline;
            }
        }
    }
    button{ 
        width: 100%;
        margin: 20px 0px;
    }
}

// her er dividerimage
.dividerimage{
    color: red;
    img{
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
}

// her kommer arrangementer
.arrangementsection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    .row{
        margin-top: -20px;
        .individualarrangements{
            margin: 50px 0px;
            .arrangementbillede{
                height: 200px;
                object-fit: cover;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            p{
                padding: 10px 0px;
            }
        }
    }
}

// her kommer karussel
.carruselsection{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 80px auto;
        .overmarging{
            p{margin-top: 30px;}
        }
        .kunstnere{
            background-color: c.$backgroundcolor-primary;
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            margin-bottom: 40px;

            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0;
                margin: 0;
                button{
                background-color: c.$backgroundcolor-primary;
                color: c.$primary-color;
                rotate: none;
                cursor: pointer;
                &:hover{
                    color: c.$secondary-color;
                }
                }

                li{
                    list-style: none;
                    padding: 100px;
                    background-color: rgba($color: #000, $alpha: 0.2);
                }
            }
        }
    }

//her kommer footer
footer{
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding: 80px 50px;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: c.$fontcolor-secondary;
        &:hover{
            text-decoration: underline;
        }
    }

    .footerbanner{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;

        p {
            color: c.$fontcolor-secondary;
            margin: 3px;
        }
    }

    ul{
        padding: 10px 0px 40px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 7px 0px;
        }
    }

    .some{
        margin: 20px 0 40px 0;
    }

    .logo{
        margin: 30px 0 0 0;
    }

    p{
        font-family: f.$heading-secondary;
        font-size: 12px;
    }

    .fa-4x {
        font-size: 3em;
    }
}


//OM OS
.image-border-mobile {
    display: block;
    margin: 50px 0;
}

.section-wrapper {
    width: 75%;
    margin: 50px auto;
} 

.image-wrapper {
    width: 100%;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.image-border-desktop {
    display: none;
}

.left {
    left: 2.5%;
}

.right {
    right: 2.5%;
} 

.paragraf {
    margin-top: 20px;
}

.heading {
    margin-top: 50px;
}

.section-dual {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .heading {
        margin-top: 0;
    }

    button {
        margin-top: 20px;
    }
}

.kunstner-quadruple {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 0;
    height: 250px;
    margin-top: 30px;

    img {
        height: 125px;
        width: 125px;
        display: block;
    }
}

.kontakt-billede {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }        
}

.kontakt-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    width: 100%;

    h2 {
        margin-top: 20px;
    }

    h3 {
        margin-top: 20px;
    }

    .width {
        width: 60%;
    }

    .adresse-blok {
        margin: 10px 0;
    }

    .aabningstid {
        margin-top: 5px;
    }

    .kontakt-oplysning {
        margin-top: 10px;
    }

    .knap-margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.kontakt-section {
    display: flex;
    flex-direction: column;
    border-top: 8px solid c.$secondary-color;
    border-bottom: 8px solid c.$secondary-color;
}

// Produktside
.hidden-on-mobile {
    display: none;
}

.hidden-on-desktop {
    display: block;
}

.produkt-section-wrapper {
    width: 80%;
    margin: 50px auto;
} 

.produkt-info {
    margin-bottom: 30px;
}

.produkt-pris {
    font-size: 14px;
    color: rgba($color: #000, $alpha: 0.5);
}

.produkt-stort-billede {
    
    img {
        max-height: 800px;
        min-height: 200px;
        width: 100%;
        display: block;
    }
}

.produkt-smaa-billeder {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    flex-wrap: wrap;

    img {
        height: 100px;
        display: block;
        margin-right: 5px;
    }
}

.produkt-tekst {
    margin: 30px 0;

    p {
        margin: 10px 0;
    }
}

.produkt-kunstner-info {

    p {
        margin: 10px 0 30px 0;
    }
}

.andre-produkter {

    .andre-produkter-karrusel {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 10px;


        img {
            min-height: 50px;
            max-height: 200px;
            width: 100%;
            display: block;
        }

        .andre-produkter-billede-container {
            margin: 10px;
        }

        svg {
            height: 5em;
            color: c.$primary-color;
        }
    }
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 20px;

    p {
        font-size: 10px;
    }

    a {
        text-decoration: none;
        color: #000;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover{
        text-decoration: underline;
    }
    }

    .denne-side {
        font-weight: 700;
        margin-left: 10px;
    }
}

//Kategoriside
.kategoriprodukter{
    margin: 80px 0px;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: c.$fontcolor-primary;
        }
    }
}

.kategoriproduktright{
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: c.$fontcolor-secondary;
    }

    .kategoriprodukt-beskrivelse{
        display: flex;
        justify-content: center;
        width: 50%;
        .tekst{
            width: 300px;
            display: flex;
            flex-direction: column;
            h2{
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 20px;
            }
        }
    }

    .kategoriprodukt-billede {
        width: 50%;
        height: 700px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    } 
}

.kategoriproduktleft{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row-reverse;
    &:hover{
        background-color: c.$fontcolor-secondary;
    }

    .kategoriprodukt-beskrivelse{
        display: flex;
        justify-content: center;
        width: 50%;
        .tekst{
            width: 300px;
            display: flex;
            flex-direction: column;
            h2{
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 20px;
            }
        }
    }

    .kategoriprodukt-billede {
        width: 50%;
        height: 700px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}


//*******DESKTOP*******

@media (min-width: 800px) {


button {
    font-size: 16px;
}

// Navbar

    nav {
        display: flex;
        justify-content: space-between;


        #menu-logo {
            padding: 15px 15px 15px 30px;

            img {
            height: 50px;
            }
            
        }

        #menu-items-mobile {
            display: none;
        }

        #menu-items-desktop {
            display: flex;
            align-items: center;

            #menu-punkter {
            display: flex;
            align-items: center;


                li, #katalog-knap {
                    font-size: 20px;
                    font-weight: 700;
                    padding: 10px 20px;
                }

                #katalog-knap {
                    font-family: inherit;
                    padding: 0;
                    cursor: pointer;
                }

                #katalog-knap:hover {
                    background-color: c.$primary-color;
                }

                
            }

            #menu-icons {
                display: flex;
                padding-right: 20px;
                padding-left: 50px;

                li {
                    padding: 10px;
                }
            }
        }

        #katalog-dropdown {
            display: flex;
            left: 25%;
            width: inherit;

            .dropdown-kategori {
                padding: 20px;
                

                .kategori-navn {
                    font-weight: 700;
                    padding: 5px;
                }

                .kategori-link {
                    padding: 5px;

                    a:hover {
                        text-decoration: underline;
                    }
                }

            }

            

            .divider-line {
                display: none;
            }

        }
    }


    .hero {
        height: 40vh;
    }


.herovideo{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center ;

    .hero-logo {
        position: absolute;

        img {
            height: 125px;
        }
    }

    video{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        display: block;
    }
    .controls{
        position: absolute;
        bottom: 20px;
        right: 30px;
        z-index: 11;
        button{ 
            background: none;
            padding: 20px 20px;
            border: 3px solid #fff;
            border-radius: 40px;
            font-size: 18px;
            cursor: pointer;
            transition: background 0.2s, transform 0.15s;
        }
    }
}

    .landingpagesection{
        width: 90%;
        margin: 110px auto 100px auto;
        p{
            margin-top: 30px;
        }
    }

    // sideintro
    .aabningstidersection{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 150px auto;
        .grouping{
            color: red;
            button{
                margin: 20px 0px;
                padding: 20px;
                cursor: pointer;
            } 
        }
        img{
            width: 650px;
            height: auto;
        } 
    }

    // her kommer åbningstider
    .section{
        width: 325px;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    // her er dividerimage
    .dividerimage{
        color: red;
        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }


        // her kommer arrangementer
        
    .arrangementsection{
        width: 90%;
        margin: 80px auto;
        .row{
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0px 20px 0px;

            .individualarrangements{
                width: 400px;
                display: flex;
                flex-direction: column;
                margin: 20px auto;
                .arrangementbillede {
                    height: 245px;
                }

                p{
                    padding: 20px 0px;
                }
            }
        }
    }

    .carruselsection{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 80px auto;
        .overmarging{
            p{margin-top: 30px;}
        }
        .kunstnere{
            background-color: c.$backgroundcolor-primary;
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            margin-bottom: 40px;

            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0;
                margin: 0;
                button{
                background-color: c.$backgroundcolor-primary;
                color: c.$primary-color;
                rotate: none;
                cursor: pointer;
                &:hover{
                    color: c.$secondary-color;
                }
                }

                li{
                    list-style: none;
                    padding: 100px;
                    background-color: rgba($color: #000, $alpha: 0.2);
                }
            }
        }
    }

    footer{
        
        .footercontent{
            flex-direction: row;
            justify-content: space-between;
            padding: 100px 50px 50px 50px;
            flex-wrap: wrap;


            .footerelements {
                width: 35%;
            }
            
            
            .footerelements:nth-child(1){
                order: 1;
            }
            .footerelements:nth-child(2){
                order: 2;
            }
            .footerelements:nth-child(3){
                order: 3;
            }
            .footerelements:nth-child(4){
                order: 4;
            }
            .footerelements:nth-child(5){
                order: 0;
            }

            .venstre{
                display: flex;
                margin-right: 100px;
                justify-content: end;
                
            }

            .hoejre{
                margin-left: 100px;
            }

            ul{
                padding: 10px 0px 50px 0px;

                li{
                    font-size: 16px;
                    padding: 5px 0px;
                }
            }

            .kontaktoplysninger-container {
                margin-top: -90px;
            }

            .logo-container {
                width: 293px;
            }

            .some-container {
                display: flex;
                flex-direction: column;
                width: 293px;
                margin-top: -150px;
            }

            .some{
                margin: 20px 0 40px 0;
            }


            .logo{
                margin: 0;
            }

            p{
                font-family: f.$heading-secondary;
                font-size: 12px;
            }

        }

        .footerbanner{
        flex-direction: row;
        justify-content: center;
        font-size: 12px;

        p {
            margin: 10px;
        }
    }
    }


    //OM OS

    .image-border-desktop {
        display: block;
    }

    .section-wrapper {
        width: 75%;
        margin: 125px auto;
    }

    .image-wrapper {
        margin: 100px auto;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .image-border-mobile {
        display: none;
    }

    .paragraf {
        margin-top: 20px;
    }

    .heading {
        margin-top: 50px;
    }

    .section-dual {
        flex-direction: row;
        padding-top: 50px;

        .heading {
            margin-top: 0;
        }

        button {
            margin-top: 20px;
            cursor: pointer;
        }
    }

    .kunstner-quadruple {
        margin-left: 150px;
        height: 300px;
        margin-top: 0;

        img {
            height: 150px;
            width: 150px;            
        }
    }

    .section-right {
        margin-left: 125px;
    }

    .section-left {
        margin-right: 125px;
    }

    .kontakt-billede {
        width: 50%;
        height: 700px;
        object-fit: cover;
        overflow: hidden;

        img {
            width: 100%;
        }        
    }

    .kontakt-blok {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #fff;
        width: 50%;

        h2 {
            margin-top: 0;
        }

        h3 {
            margin-top: 20px;
        }

        .width {
            width: 60%;
        }

        .adresse-blok {
            margin: 10px 0;
        }

        .aabningstid {
            margin-top: 5px;
        }

        .kontakt-oplysning {
            margin-top: 10px;
        }

        .knap-margin {
            margin-top: 30px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }

    .kontakt-section {
        display: flex;
        flex-direction: row;
        border-top: 8px solid c.$secondary-color;
        border-bottom: 8px solid c.$secondary-color;
    }

    .artist{
        li{
            margin: 30px auto 75px auto;
            h2{
                margin-bottom: 10px;
            }
            h3{
                    margin-bottom: 20px;
            }
        }
    }


    //Produktside


    .hidden-on-mobile {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }

    .produkt-section-wrapper {
        width: 80%;
        margin: 100px auto;
    } 

    .produkt-dual {
        display: flex;

        .produkt-stort-billede {
            width: 50%;
        
            img {
                max-height: none;
                min-height: 0;
            }
        }

        .produkt-tekst-container {
            width: 50%;
            margin-left: 40px;
        }
    }

    .produkt-info {
        margin-bottom: 20px;
    }

    .produkt-tekst {

        margin: 30px 0;

        p {
            margin: 15px 0;
        }
    }

    .produkt-smaa-billeder {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        flex-wrap: wrap;

        img {
            height: 125px;
            margin-right: 10px;
        }
    }

    .breadcrumbs {
        margin: 50px 0 0 50px;

        p {
            font-size: 14px;
        }
    }


    //Kategoriside

    .kategoriprodukter{
        margin: 80px 0px;
        a:hover{
            text-decoration: none;
            h2{
                text-decoration: underline;
                color: c.$fontcolor-primary;
            }
        }
    }

    .kategoriproduktright{
        display: flex;
        align-items: center;
        cursor: pointer;
        
        &:hover{
            background-color: c.$fontcolor-secondary;
        }

        .kategoriprodukt-beskrivelse{
            display: flex;
            justify-content: center;
            width: 50%;
            .tekst{
                width: 300px;
                display: flex;
                flex-direction: column;
                h2{
                    margin-bottom: 5px;
                }
                p{
                    margin-bottom: 20px;
                }
            }
        }

        .kategoriprodukt-billede {
        width: 50%;
        height: 700px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
}

        
    }

    .kategoriproduktleft{
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: row-reverse;
        
        &:hover{
            background-color: c.$fontcolor-secondary;
        }

        .kategoriprodukt-beskrivelse{
            display: flex;
            justify-content: center;
            width: 50%;
            .tekst{
                width: 300px;
                display: flex;
                flex-direction: column;
                h2{
                    margin-bottom: 5px;
                }
                p{
                    margin-bottom: 20px;
                }
            }
        }

        .kategoriprodukt-billede {
        width: 50%;
        height: 700px;
        overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }


}

